extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Leandro Machado

        //- Feel free personalize the title below
        p.lead.text-light
          | Software Engineer 

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Currently working as a fullstack javaScript developer.
            | Particularly, I enjoy developing using react.js and node.js frameworks for frontend and backend respectively.  
            | Recently I have being using Typescript in all my projects.
        
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript stack Developer 🚀
          li Software Engineer 💻
          li Team Work 👥
        h6 Contact Info

        //- Add your own contact info
        ul
          li 236-668-9037
          li leandrofahurl@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/leandro-miranda-fahur-machado/') LinkedIn
        a.button.expanded(href='https://github.com/leandrofahur') GitHub
        a.button.expanded(href='https://www.instagram.com/leandrofahur/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  